.main_container {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: var(--black-main);
}

@media screen and (max-width: 700px) {
  .page {
    padding: 100px 20px 20px 20px;
  }
}
@media screen and (orientation: portrait) {
  .page {
    gap: 50px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 30%;
  column-gap: 10%;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.data_container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 16px;
}

@media screen and (orientation: portrait) {
  .data_container {
    gap: 8px;
  }
}

.text > h2 {
  font-weight: 600;
  font-size: clamp(16px, 4vw, 36px);
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--white-main);
  user-select: none;
  cursor: default;
}

.text > p {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 18px);
  text-align: justify;
  color: var(--white-main);
  user-select: none;
  cursor: default;
  margin-bottom: 12px;
}

.line {
  width: 15px;
  height: 100%;
  background-color: var(--pink);
}

@media screen and (orientation: portrait) {
  .line {
    display: none;
  }
  .text > h2 {
    color: var(--pink);
  }
}

.svg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .svg_container {
    display: none;
  }
}

.svg_container > svg {
  width: 250px;
  height: 250px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding-bottom: 14px;
}

@media screen and (orientation: portrait) {
  .skills {
    padding-bottom: 7px;
  }
}

.tech > p {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 18px);
  text-align: justify;
  color: var(--white-main);
  user-select: none;
  cursor: default;
}

.tech_icons {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--pink-transparent);
  padding: 8px;
  gap: 8px;
}

.tech_icons > svg {
  width: clamp(12px, 1.5vw, 16px);
  height: clamp(12px, 1.5vw, 16px);
}
