.main_container {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: auto;
  padding: 50px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: var(--black-main);
}

@media screen and (max-width: 700px) {
  .page {
    padding: 40px 20px 20px 20px;
  }
}
@media screen and (orientation: portrait) {
  .page {
    gap: 40px;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .page {
    padding: 20px 20px 20px 20px;
    gap: 40px;
  }
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.data_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 32px;
}

.text > h2 {
  font-weight: 600;
  font-size: clamp(24px, 4vw, 36px);
  text-transform: uppercase;
  color: var(--pink);
  user-select: none;
  cursor: default;
  text-align: center;
  line-height: 100%;
}

.text > p {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 18px);
  color: var(--white-main);
  user-select: none;
  cursor: default;
  text-align: center;
  width: 80%;
}

.skills {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.tech {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  background-color: var(--pink-transparent);
}

.tech > span {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 18px);
  color: var(--white-main);
  user-select: none;
  cursor: default;
}

.tech > svg {
  width: clamp(12px, 2vw, 18px);
  height: clamp(12px, 2vw, 18px);
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
  .text > h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
  }

  .text > p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .tech > p {
    font-weight: 400;
    font-size: 20px;
  }

  .tech_icons {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--pink-transparent);
    padding: 8px;
    gap: 8px;
  }

  .tech_icons > svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .text > h2 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 16px;
  }

  .text > p {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 12px;
  }
  .tech > p {
    font-weight: 400;
    font-size: 30px;
  }

  .tech_icons {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--pink-transparent);
    padding: 8px;
    gap: 8px;
  }

  .tech_icons > svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 2560px) and (min-height: 1440px) {
  .text > h2 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 16px;
  }

  .text > p {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 12px;
  }
  .tech > p {
    font-weight: 400;
    font-size: 36px;
  }

  .tech_icons {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--pink-transparent);
    padding: 16px;
    gap: 16px;
  }

  .tech_icons > svg {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
  .text > h2 {
    font-weight: 600;
    font-size: 124px;
    margin-bottom: 16px;
  }

  .text > p {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 12px;
  }
  .tech > p {
    font-weight: 400;
    font-size: 50px;
  }

  .tech_icons {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--pink-transparent);
    padding: 25px;
    gap: 25px;
  }

  .tech_icons > svg {
    width: 50px;
    height: 50px;
  }
}
