.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal {
  padding: 0 17.5% 0 17.5%;
  background-color: var(--black-secondary);
}

.reveal_text {
  font-weight: 800;
  font-size: clamp(3rem, 10vw, 15rem);
  line-height: clamp(5rem, 12vw, 17rem);
  color: transparent;
  cursor: default;
  user-select: none;
}

@supports (-webkit-text-stroke: 1px black) {
  .reveal_text {
    -webkit-text-stroke: 1px var(--slogan-stroke);
  }
}

.top_svg,
.bot_svg {
  fill: var(--black-secondary);
  transition: fill 300ms ease-in;
}

.bot_svg {
  transform: rotate(180deg);
}
