* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background-color: var(--black-main);
}

:root {
  --black-main: #1a1a1d;
  --black-secondary: #1d1d20;
  --white-main: #fcfcfc;
  --white-secondary: #fafafa;
  --cyan: #c3073f;
  --cyan-dark: #c3073f;
  --cyan-dark-transparent: rgba(195, 7, 63, 0.25);
  --cyan-dark-dotted: rgba(195, 7, 63, 0.5);
  --black-projects: rgba(29, 29, 32, 0.75);
  --pink: #c3073f;
  --pink-transparent: #fcfcfc44;
  --slogan-stroke: rgba(255, 255, 255, 0.05);
  --project-number: rgba(235, 235, 235, 0.5);
  --project-dots: rgb(255, 255, 255, 0.5);
}

.light-theme {
  --black-main: #e6e0e0;
  --black-secondary: hsl(0, 11%, 86%);
  --white-main: #393535;
  --white-secondary: #393535;
  --cyan: #009193;
  --cyan-dark: #009193;
  --cyan-dark-transparent: rgba(0, 145, 147, 0.25);
  --cyan-dark-dotted: rgba(0, 145, 147, 0.5);
  --black-projects: rgba(230, 224, 224, 0.5);
  --pink: #009193;
  --pink-transparent: rgba(57, 53, 53, 0.3);
  --slogan-stroke: rgba(57, 53, 53, 0.25);
  --project-number: rgba(57, 53, 53, 0.5);
  --project-dots: rgb(57, 53, 53, 0.5);
}

.content {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.fixed-container {
  position: fixed;
  top: -49px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: auto;
  overflow: hidden;
  transition: all 350ms ease-in-out;
  z-index: 1000;
}

.fixed-container:hover,
.fixed-container:focus,
.fixed-container:active {
  top: 0;
}

p::selection {
  background-color: var(--pink-transparent);
}

button,
textarea,
input,
select,
a,
div,
svg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
