* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background-color: var(--black-main);
}

:root {
  --black-main: #1b1a28;
  --black-secondary: #212031;
  --white-main: #f1edff;
  --white-secondary: #aba9bc;
  --cyan: #00c894;
  --cyan-dark: #00c894;
  --cyan-dark-transparent: rgba(0, 200, 148, 0.25);
  --pink: #00c894;
  --pink-transparent: #f1edff44;
}

.content {
  width: 100%;
  height: auto;
  overflow: hidden;
}

p::selection {
  background-color: var(--pink-transparent);
}
